* {
   box-sizing: border-box; 
}

body {
    margin: 0;
    background: #002D9C; 
}

.formulario {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin-left: 40%;
    margin-top: 200px;
    background: #004CE8; 
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.caixa {
    padding: 12px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    background: #F1F5F9; 
    color: #001F54; 
    font-family: Arial, Helvetica, sans-serif;
}

.caixa::placeholder {
    color: #6B7280; 
}

.title {
    color: #FFFFFF; 
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}

#submeter {
    padding: 10px;
    width: 100px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #FFFFFF;
    background: linear-gradient(to right, #00CFFF, #004CE8); /* Degradê ciano/azul royal */
    border: none;
    font-weight: bold;
    transition: 0.3s;
}

#submeter:hover {
    background: linear-gradient(to right, #004CE8, #00CFFF);
    transform: scale(1.05);
}